table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background:linear-gradient(#56ab2f, #a8e063);;
    color: white;
  }

  button {
    background: linear-gradient(#56ab2f, #a8e063); 
    display: inline-flex;
    float: right;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    border-color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  button:hover{
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }
  .searchInput{
    width: 200px;
    height: 20px;
    font-size: medium;
    font-style: oblique;
    transition: 1s ease-in-out;
    border-radius: 5px;
    border-color: lightslategray;
    margin-top: 20px;
    margin-bottom: 10px;
    
  }

  .searchInput:hover {
    width: 20%;
    transition-duration: 0.6s;
    border-color: #4CAF50;
  }

  